/* Hoja de estilos de mi WEB */

*{
	text-align: justify;
}
body {
    font-family: Arial; 	/*Fuente del texto de toda la web*/
	font-size: 12px;
	color: black;
    background-color: snow; /*Color de fondo de la web*/
}

/* div contenedor principal*/
#contenedor_principal {
	overflow: hidden;
	
}
/* div cabecera */
#cabecera {
	padding:5px;
	border: 1px solid purple;
	width:95%;
	margin:auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* div donde va el titulo y el párrafo texto de la cabecera*/
#textocabecera {
	background-color: plum;
	
	float: left;
	
}
/* titulo de la pagina */
header h1 {
	text-align: center;
 	font-size: 80px;
	color: white;
	
}
header p{
	font-size: 10%px;
	text-align: center;
	font-family:Lucida Handwriting;

}

/* Párrafo que va en la cabecera */
#textocabecera p{
	text-align: left;
	font-size: 12px;
	color:azure;
}

/*Div donde va la imagen de la cabecera*/


#imagencabecera img{
	width:58rem;
}
/***************************************************/
/* Estilo de la barra de navegación */
#barranavegacion {
    overflow: hidden;
   	padding:5px;
    background-color: plum;
	border: 1px solid #ccc;
	width:95%;
	margin:auto;
	height:45px;
}

/* Estilo de los enlaces de la barra de navegación */
#barranavegacion a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 22px;
}

/* Cambio de color en lon enlaces al pasar el ratón por encima */
#barranavegacion a:hover {
    background-color: #ddd;
    color: blueviole;
}

/*****************************************************/

/*Div del cuerpo de la página*/
#cuerpo {
	background-color: white;
	padding:5px;
	border: 1px solid #ccc;
	width:95%;
	overflow: hidden;
	margin:auto;
	
}
#cuerpo p {
	margin-bottom: 30px;
	
}
#cuerpo h2{
	font-family:Lucida Handwriting
}
#tablaejemplo{
	
	border: 1px solid #ccc;
	float: right;
	padding: 10px;
    margin-left: 20px;
}
caption{
	font-size: 25px;
}
td{
	padding-right: 25px;
	font-size: 20px;
}

/* Pie de la web*/
footer{
	background-color: violet;
	padding:5px;
	border: 1px solid #ccc;
	width:95%;
	overflow: hidden;
	margin:auto;
}